.button1{
    background-color: lightgrey;
    padding: 5px 15px;
    border-radius: 25px;
    margin-block: 6px;
    display:inline-block;
    color: black;
    transition-duration: 0.1s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-decoration: solid; 
    text-wrap:balance;   
    vertical-align:middle;
    line-height: 1.5;
    width: 95%;
    margin-left: 10px;
    font-weight: bold;
}
.button1:hover{
    background-color: grey;
    color: black;
}

.disable{
    cursor: not-allowed;
}
