.slds-modal__close{

    margin-top: 37px;
    margin-right: 7px;
   
}
.modal-heading-01{
    font-weight: 700;
   
}

.slds-modal__container{
    width: 70px;

    
}

/*.slds-modal {
    
    width: 700px; 
    height: 500px; 
}*/

.form-cancel {

    background-color: #e0dddd; /* White background */
            color: #0e0c0c; /* Black text */
            border: none;
            width: 100px;
            height: 32px;
           /* padding: 10px 20px;*/
            cursor: pointer;
            display: block; /* Block-level element for centering */
            margin: 0 auto; /* Center horizontally */
            text-align: center;
            border-radius: 20px;
            margin-left: 45px;
            float: left;
}

.form-yes{
    background-color: red; /* Red background */

            color: #ffffff; /* White text */
            border: none;
            width: 90px;
            height: 32px;
           /* padding: 10px 20px;*/
            cursor: pointer;
            display: block; /* Block-level element for centering */
            margin: 0 auto; /* Center horizontally */
            text-align: center;
            border-radius: 20px;
            margin-right: 45px; 
            float: right;          

}

.p{
    line-height: normal;
}








